body {
    background-color: #2C2F33;
    color: #FFFFFF;
}

.jumbotron {
    background-color: #7289DA;
}

figure {
    display: inline-block;
    margin: 10px;
}

figure img {
    vertical-align: top;
}

figure figcaption {
    text-align: center;
    font-size: 16px;
}
